body {
    background-image: url(../images/5026563.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.panda-bg-info {
    background-color: #fceae8;
}

.categories img {
    width: 100px;
}

.panda-btn-buy-now {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}

.fonts {
    font-family: 'Balthazar', serif;

}

/************ View all buttons ***************/
.moreitems {
    display: none;
}

.product.show-more .moreitems {
    display: inline;

}