body {
    background-image: url(../images/abstract-luxury-plain-blur-grey-black-gradient-used-as-background-studio-wall-display-your-products.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.panda-bg-info {
    background-color: #fceae8;
}

.categories img {
    width: 100px;
}

.panda-btn-buy-now {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}

.fonts {
    font-family: 'Balthazar', serif;

}

h3 {
    color: rgb(167, 164, 164);
}

.TrustedP img {
    width: 60%;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;

}

/************ View all buttons ***************/
.moreitems {
    display: none;
}

.product.show-more .moreitems {
    display: flex;

}




/* CSS */
.button-89 {
    --b: 3px;
    /* border thickness */
    --s: .45em;
    /* size of the corner */
    --color: #373B44;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.button-89:active {
    background: var(--color);
    color: #fff;
}